<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluid mt-auto p-0">
    <!-- Footer -->
    <footer class="text-center text-lg-start text-dark">
   
        <section class="p-2" style="background-color: rgba(0, 0, 0, 0.1)">
             <div class="me-2">
                <span></span>
            </div>
        </section>

        <!-- Section: Links  -->
        <section>
            <div class="container text-center text-md-start">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h3>Uitdeellocaties</h3>
                        <hr class="mb-2 mt-0"
                            style="width: 100%; height: 2px" />
                        <div class="d-flex flex-row justify-content-between">

                            {% for location in pickup_locations %}
                            <address>
                                <h5>{{ location.description }} 
                                    <a href="https://www.google.com/maps/search/?api=1&query={{location.address.street_and_number|urlencode}}%20{{location.address.city|urlencode}}" title="Toon {{ location.description }} op de kaart">
                                        <span class="bi bi-map"></span>
                                    </a>
                                </h5>
                                {{ location.address.street_and_number }}<br>
                                {{ location.address.city }}
                            </address>
                            {% endfor %}

                        </div>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Links -->
                        <h3>Handige links</h3>
                        <hr class="mb-2 mt-0"
                            style="width: 100%; height: 2px" />
                        <div class="lh-lg">
                            <a href="{% url 'regulations' %}" class="text-dark">Reglement</a><br>
                            <a href="{% url 'privacy' %}" class="text-dark">Privaystatement</a><br>
                            <a href="{% url 'docs.document_overview' %}" class="text-dark">Documenten</a><br>
                            <a href="{% url 'contact' %}" class="text-dark">Contact</a>
                        </div>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Links -->
                        <h3>Stichting</h3>
                        <hr class="mb-2 mt-0"
                            style="width: 100%; height: 2px" />
                        <p class="lh-lg">Stichting Financien VOKO Utrecht<br>
                        KVK: 61879584<br>
                        e-mail: info@vokoutrecht.nl</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.1)">Publieke website:
            <a class="text-dark" href="https://www.vokoutrecht.nl">www.vokoutrecht.nl</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</div>
<!-- End of .container -->