<ol>
    <li>Draag een eerlijk deel bij aan de vrijwilligerstaken die gedaan moeten worden.</li>
    <li>Ben aanwezig wanneer je een dienst moet draaien. Kan je niet? Regel dan zelf vervanging.</li>
    <li>Kom je bestelling ophalen.</li>
    <li>VOKO Utrecht is niet aansprakelijk voor de uitwerking van geleverde producten op de gezondheid.
        Afnemers dienen zelf in de gaten te houden of afgenomen producten nog goed zijn.</li>
    <li>Wanneer een lid niet reageert op vragen vanuit VOKO die te maken hebben met het de werking van het collectief en/of het lidmaatschap (zoals over deelname aan een werkgroep of manier van uitschrijving) kan het betreffende lid worden uitgeschreven. <br />
    Wanneer reageert iemand niet: wanneer er minimaal twee herinneringen gestuurd zijn en een laatste bericht waaruit duidelijk wordt dat er zonder tegenbericht wordt overgegaan op uitschrijving. <br />
    Er wordt minimaal vier weken reageertijd gegeven per bericht. Wanneer we overgaan tot gedwongen uitschrijving wordt het betreffende lid definitief uitgeschreven en vervalt eventueel openstaand krediet.</li>
</ol>
