<h1 class="mb-4">Huishoudelijk Reglement VOKO Utrecht</h1>

<div class="mx-4">
    <p> VOKO staat voor Voedselkollektief. Een collectief
        betekent dat alle leden eigenaar zijn en evenveel inspraak hebben. Als organisatie werken we aan een
        gelijkwaardige
        samenleving. We hebben een platte organisatiestructuur waar ruimte is voor verschillende visies en waarin ieder
        lid
        kan zich aandienen als coördinator en mee kan overleggen in het kernteam-overleg.</p>

    <p> VOKO is georganiseerd in een stichting Financiën VOKO.
        De stichting heeft ten doel het beheer van de Dinanciën van VOKO Utrecht en alles wat daarmee rechtstreeks of
        zijdelings verband houdt of daartoe bevorderlijk kan zijn.</p>

    <p> In dit document staat beschreven hoe VOKO Utrecht
        georganiseerd is. Het huishoudelijk reglement is een aanvulling op de statuten van de Stichting Financiën VOKO.
    </p>

    <h2>Het aanbod</h2>
    <p>Je krijgt bij VOKO alleen
        seizoensgebonden producten, met zorg geteeld, gekweekt of gehouden en zo min mogelijk bewerkt. Boeren bepalen
        zelf
        hun prijs en krijgen een eerlijke prijs. Boeren kunnen zoveel of zo weinig aanbieden als ze willen. De prijs per
        product is zichtbaar per ronde. In ons visiedocument staat beschreven welke producten en leveranciers wel of
        niet
        binnen onze visie vallen.</p>

    <p> Elke week (hoogseizoen) of twee weken (laagseizoen)
        wordt er een bestelronde geopend.</p>

    <p> VOKO is niet verantwoordelijk of aansprakelijk voor de
        kwaliteit van de producten.</p>

    <h2>Lid worden</h2>
    <p>Iedereen kan lid worden van VOKO! Om
        lid te worden moet je eerst een informatieavond bijwonen en eenmalig €20,- inschrijfgeld betalen als investering
        voor VOKO. Als je na het bijwonen van de info-avond besluit lid te worden kun je gelijk met de volgende
        bestelronde
        meedoen.</p>

    <h2>Leden</h2>
    <p>Alle leden helpen mee om VOKO draaiend
        te houden. Alle leden worden daarom ingedeeld in één van de zeven teams (zie teams). Na de informatieavond kun
        je
        een voorkeur voor een team doorgeven. Er is geen garantie dat je in het team komt van je voorkeur. Wel is het
        mogelijk om na verloop van tijd te wisselen van team.</p>

    <p> Slapende leden zijn leden die na een actieve periode bij
        VOKO niet meer wensen te bestellen of geen bijdrage kunnen leveren aan VOKO. Slapende leden kunnen niet
        bestellen.
        Slapende leden kunnen hun lidmaatschap te aller tijde weer activeren en hoeven niet opnieuw inschrijfgeld te
        betalen.</p>
    <p>Als het niet lukt om je bijdrage te
        leveren aan VOKO wordt kun je in overleg met je coördinator en/of het bestuur bespreken wat je wel kunt
        bijdragen
        aan VOKO. In het uiterste geval kun je slapend lid worden gemaakt of je lidmaatschap opzetten.</p>

    <h2>Algemene Ledenvergadering</h2>
    <p> Twee keer per jaar (voorjaar (oktober) en najaar (april)
        organiseert het bestuur een Algemene Ledenvergadering (voortaan ALV). Deze wordt georganiseerd omdat VOKO een
        platte
        organisatie is, waarin alle leden inspraak hebben (zie Consensus methode). Grote beslissingen kunnen alleen in
        een
        ALV genomen worden. Kleinere beslissingen over de dagelijkse gang van zaken kan het kernteam nemen.</p>
    <p>Het bestuur legt de begroting en
        jaarrekening voor tijdens een ALV van VOKO Utrecht Op basis van de begroting wordt, wanneer nodig, ook advies
        uitgebracht over een aanpassing van ledencontributies en/of marge. Hierover wordt in een ALV van het collectief
        een
        beslissing genomen.</p>
    <h2>Consensus methode
    </h2>
    <p> Tijdens ALV's en voor belangrijke beslissingen wordt de
        consensus methode toegepast. Dit betekent dat alle aanwezigen het met elkaar eens moeten zijn voordat een
        besluit
        genomen kan worden. Ingebrachte vraagstukken kunnen dus in een ALV zo aangepast worden tot iedereen het eens is.
    </p>

    <h2>Financien en vergoedingen</h2>
    <p> We maken geen winst, wat betekent dat de leden de
        producten ook tegen praktisch inkoopprijzen afnemen. We rekenen een marge van 4% om de kosten van het vervoer
        van de
        producten naar de uitdeellocatie en andere kosten zoals promotiemateriaal, nieuwe weegschalen, etc te dekken. De
        marge wordt jaarlijks besproken in de ALV en kan aDhankelijk van de kosten die we maken verhoogd of verlaagd
        worden
        in overeenstemming met de leden.</p>

    <p> Leden hebben recht op een vergoeding voor de kosten die
        zij maken voor VOKO zoals voor het transport (23 cent per kilometer of verzekering), uitdeel (5 cent per pagina
        om
        te printen) of promo (printen van Dlyers of organiseren van activiteiten). Aankopen ten behoeve van VOKO kunnen
        na
        overleg met de penningmeester worden gedeclareerd.</p>

    <h2>Bestuur stichting Financiën VOKO</h2>
    <p> Het bestuur coördineert samen met het kernteam alles
        wat er binnen VOKO speelt. Belangrijkste rol van het bestuur is het organiseren van de ALV. Tevens is het
        bestuur
        verantwoordelijk voor de Stichting Financiën VOKO.</p>

    <p> Het VOKO bestuur bestaat uit in ieder geval drie leden:
        De voorzitter, de penningmeester en de secretaris. Idealiter zit een bestuurslid niet langer dan <u>2 jaar</u>
        in
        het bestuur. Nieuwe bestuursleden worden in een ALV door de leden gekozen.</p>
    <strong>Voorzitter bestuur</strong>
    <p>Samen met de secretaris en penningmeester is de voorzitter betrokken bij alles wat er binnen VOKO
        speelt. De voorzitter houd overzicht en zorgt ervoor dat iedereen goed bezig kan
        zijn. Verder is de voorzitter ook aanspreekpunt voor externe partijen. Als lid van het bestuur staat de
        voorzitter
        geregistreerd bij de kvk. Daarnaast vormt hij/zei samen met de coördinatoren van de andere teams het kernteam
        van
        VOKO. Buiten deze taken is er veel ruimte voor eigen invulling van de rol en het bedenken en uitvoeren van
        nieuwe
        ideeën en initiatieven.</p>
    <strong>Secretaris bestuur</strong>
    <p>Samen met de voorzitter en penningmeester is ook de secretaris betrokken bij alles wat er binnen VOKO
        speelt. De secretaris houd de administratie bij, zorgt voor het inplannen en notuleren van vergaderingen.
        Idealiter coördineert de secretaris ook het Adminteam (zie hieronder bij teams). Ook de secretaris staat
        geregistreerd in de kvk. Daarnaast is de secretaris samen met de coördinatoren van de andere teams onderdeel
        van het kernteam van VOKO. Ook aan deze rol kan veel eigen invulling gegeven worden.</p>
    <strong>Penningmeester bestuur:</strong>
    <p>Samen met de voorzitter en secretaris is ook de penningmeester betrokken bij alles wat er binnen VOKO
        speelt. De penningmeester houdt de Dinanciële administratie bij, coördineert het Dinanciële team, zorgt voor
        de betaling van facturen. De penningmeester is verantwoordelijk voor het (laten) opstellen van een jaarrekening
        (balans en staat baten en lasten)en zorgt in overleg met het stichtingsbestuur en kernoverleg voor een begroting
        van het komende jaar zodra de jaarrekening van het afgelopen jaar is opgesteld. Deze wordt aan de leden van VOKO
        voorgelegd tijdens een ALV.</p>
    <strong>Kascommissie</strong>
    <p> De kascommissie heeft tot taak zich een oordeel te
        vormen omtrent het Dinanciële beheer van de stichting. De commissie beoordeelt de volledigheid en juistheid van
        de
        opgestelde jaarstukken, alsmede de rechtmatigheid van de verrichte uitgaven en de aangegane verplichtingen en
        brengt
        hierover verslag uit aan de ALV. De kascommissie wordt benoemd door de ALV. Leden van de commissie zijn geen lid
        van
        het bestuur of kernteam.</p>

    <h2>Kernteam</h2>
        <p> Elk VOKO team heeft één of twee coördinatoren. Zij
            zorgen dat het team goed loopt. Het kernteam komt een aantal keren per jaar bij elkaar bijeen om de stand
            van zaken
            met elkaar te bespreken en de samenwerking tussen de teams te bevorderen.</p>

        <h2>Teams</h2>
            <p> Alle leden dragen een steentje bij aan de VOKO en worden
                ingedeeld in een team. Zo hebben wij een uitdeelteam, transportteam, promoteam, boerenadminteam,
                adminteam, ICT team
                en Dinancienteam. Daarnaast hebben we ook een kascommissie. Elk VOKO team heeft één of twee
                coördinatoren. Zij
                zorgen dat het team goed loopt. Hieronder korte uitleg van de algemene taken per team.</p>

            <strong>Adminteam</strong>
            <p> Het adminteam houdt de ledenregistratie bij, deelt leden
                in in de verschillende teams en organiseert de infoavonden.</p>
            <strong>
                Boerenadminteam</strong>
            <p> Opent de bestelrondes, houdt contact met de boeren en
                zoekt naar nieuwe leveranciers. Ook houden zij in de gaten of de producten die aangeleverd zijn door de
                boeren
                voldoen aan de voorwaarden zoals die in het visiedocument staan.</p>

            <strong>Financienteam</strong>
            <p> Zorgt voor de Dinanciële administratie van VOKO en
                verwerkt daarvoor binnengekomen facturen van leveranciers en (transport)vergoedingen voor leden.</p>

            <strong>Transportteam</strong>
            <p> Halen op woensdagmiddag de producten met de auto op bij
                de leveranciers. De coördinator maakt hiervoor het rooster voor route A, B en soms C, met op iedere
                route steeds 1
                chauffeur en 1 bijrijder. Voorziet de transporteurs van informatie over bijvoorbeeld welke kratten
                moeten worden
                gebruikt en waar de sleutel moet worden gehaald. Zorgt ook dat er vervanging is als iemand moet afzeggen
                en er zelf
                niet in slaagt te ruilen.</p>

            <strong>Promoteam</strong>
            <p> Maakt de nieuwsbrief voor leden, activiteiten en
                workshops voor leden, social media updates. Wanneer nodig kunnen zij nieuwe leden werven.</p>

            <strong>Uitdeelteam</strong>
            <p> Ervoor zorg dragen dat op uitdeel dagen, de producten
                die door het transportteam zijn aangeleverd, correct verdeeld worden over de ledenbestellingen en
                uitgifte van deze
                bestellingen aan de individuele leden. Het verwerken van correcties bij niet, of verkeerd geleverde
                producten en dit
                communiceren met de leveranciers. Het team werkt volgens een door het team zelf opgesteld rooster.</p>

            <strong>IT Team</strong>
            <p> Beheert de leden website (leden.vokoutrecht.nl) en de
                publieke website (<a href="https://www.vokoutrecht.nl">www.vokoutrecht.nl</a>). Zorgvuldigheid is belangrijk. Bij het lid worden en
                bestellen laten
                VOKO leden prive- en betaalgegevens achter. Het team voert vaak zichtbare en onzichtbare verbeteringen
                uit om de
                websites up-to-date te krijgen/te houden.</p>
            <p>Daarnaast worden op verzoek
                kleine of grote functionaliteiten toegevoegd om de processen van VOKO te ondersteunen. Het team helpt
                ook bij
                problemen die gebruikers ondervinden bij het gebruik van de websites, bijv met inloggen of aanpassen van
                groepen. Voor meer technische info: </span><a href="https://github.com/VOKO-Utrecht/voko-project">github.com/VOKO-Utrecht/voko-project</a><span class="p">
                    (afgeschermd)</p>
</div>
</body>

</html>