[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-extensions = "==2.1.4"
django-bootstrap3 = "==11.0.0"
django-braces = "==1.14.0"
pytz = "==2021.1"
django-cron = "==0.5.1"
html2text = "==2014.9.25"
django-tinymce = "==2.6.0"
mollie-api-python = "==2.12.0"
django-hijack = "==2.1.10"
django-hijack-admin = "==2.1.10"
jsonfield = "==3.1.0"
openpyxl = "==2.1.4"
simplejson = "==3.8.1"
unicodecsv = "==0.14.1"
django-nose = "==1.4.7"
nose = "==1.3.7"
django-recaptcha = "==2.0.6"
django-constance = {version = "==2.3.1", extras = ["database"]}
django-picklefield = "==2.1.1"
psycopg2-binary = "==2.8.6"
Django = "==2.2.28"
Unipath = "==1.1"
uWSGI = "==2.0.19.1"

[dev-packages]
fake-factory = "==0.7.4"
factory-boy = "==3.2.1"
mock = "==1.0.1"
django-debug-toolbar = "==1.11"
flake8 = "==3.8.4"

[requires]
python_version = "3.6"