{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %}Profiel opmerkingen{% endblock %}
{% block content %}
<h2>{{ object.user }}</h2>
<hr>
<h4>Opmerkingen of bijzonderheden t.b.v. coordinatoren</h4>
<h4>Zichtbaar voor alle coordinatoren en superusers</h4>
<hr>

<div class="d-flex justify-content-end">
        <form action="" method="post">{% csrf_token %}
        {% bootstrap_form form %}
          <button type="submit" class="btn btn-primary">
            <span class="bi-save"></span> Profiel wijzigen
          </button>
        </form>
</div>
{% endblock %}




