{% extends 'base.html' %}
{% block title %}Betalen{% endblock %}
{% block content %}
    {% if payment_succeeded  %}
        <h1>Betaling geslaagd</h1>
        <p>
        <a href="{% url 'order_summary' user.orders.get_last_paid_order.pk %}">Er is een bevestiging naar je toe gemaild. Klik hier om je bestelling te bekijken.</a>
        </p>
    {% else %}
            <h1>Betaling mislukt</h1>
            <p><a href="{% url 'finish_order' user.orders.get_current_order.pk %}">Klik hier om het nogmaals te proberen.</a></p>
    {% endif %}

{% endblock %}
