{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %}Betalen{% endblock %}
{% block content %}
<script type="text/javascript">
    window.onload = function() {
        $("#id_method").change( function(){
            if ($("#id_method input[name='method']:checked").val() == "ideal") {
                $("#id_bank").parent().show();
            }else
                $("#id_bank").parent().hide();
        });
    }
</script>
<h1>Betalen via iDeal</h1>
    {% if not order %}
    <div class="alert alert-warning" role="alert">Je hebt geen bestelling om te betalen.</div>
    {% else %}
    <p>
    Bedrag huidige bestelling: &euro; {{ order.total_price }}<br/>
    Totaal openstaande debet: &euro; {{ user.balance.debit }}<br/>
    Totaal credit: &euro; {{ user.balance.credit }}
    <br/><br/>
    <strong>Te betalen: &euro; {{ order.total_price_to_pay_with_balances_taken_into_account }}</strong>
    </p>

    <div class="w-50 row">
        <form action="{% url 'finance.createtransaction' %}" method="post">{% csrf_token %}
            {% bootstrap_form form %}
            <div class="mt-4 d-flex justify-content-between">
            <a class="btn btn-warning" href="{%  url 'finance.cancelpayment' %}" role="button"><span class="bi-x-square"></span> Annuleren</a>
            <button type="submit" class="btn btn-primary">
                <span class="bi-star"></span> Betalen
            </button>
            </div>
        </form>
    </div>

    {% endif %}

{% endblock %}
