{% extends 'base.html' %}
{% block title %}Correcties{% endblock %}
{% block content %}
    <h1>Correcties</h1>

    {% if view.order_round.days_since_collection >= 14 %}
        <div class="alert alert-warning" role="alert"><strong>Let op!</strong> Het ophaalmoment van deze bestelronde was <strong>{{  view.order_round.days_since_collection }}</strong> dagen geleden. Bedenk goed of je wel correcties voor deze ronde zou moeten maken.</div>
    {% endif %}

    <hr>
    <h2>Correctie bij bestelling maken</h2>
    <p>Maak een bestelcorrectie aan en genereer automatisch krediet voor leden.</p>
    <form class="form-horizontal" role="form" action="." method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="lid" class="col-sm-2 control-label">Lid</label>
            <div class="col-sm-10">
                <select class="form-control" id="lid" name="member_id">
                    <option></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="order" class="col-sm-2 control-label">Bestelling</label>
            <div class="col-sm-10">
                <select class="form-control" id="order" name="order_id">
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="product" class="col-sm-2 control-label">Subbestelling / Product</label>
            <div class="col-sm-10">
                <select class="form-control" id="product" name="order_product_id">
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="supplied" class="col-sm-2 control-label">Geleverd percentage</label>
            <div class="col-sm-10">
                <select class="form-control" id="supplied" name="supplied_percentage">
                    <option value="0">0%</option>
                    <option value="5">5%</option>
                    <option value="10">10%</option>
                    <option value="15">15%</option>
                    <option value="20">20%</option>
                    <option value="25">25%</option>
                    <option value="30">20%</option>
                    <option value="35">35%</option>
                    <option value="40">40%</option>
                    <option value="45">45%</option>
                    <option value="50">50%</option>
                    <option value="55">55%</option>
                    <option value="60">60%</option>
                    <option value="65">65%</option>
                    <option value="70">70%</option>
                    <option value="75">75%</option>
                    <option value="80">80%</option>
                    <option value="85">85%</option>
                    <option value="90">90%</option>
                    <option value="95">95%</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="notes" class="col-sm-2 control-label">Notitie (optioneel)</label>
            <div class="col-sm-10">
                <input class="form-control" id="notes" name="notes"/>
            </div>
        </div>

        <div class="form-group">
            <label for="notes" class="col-sm-2 control-label">Leverancier belasten?</label>
            <div class="col-sm-10">
                <input class="form-control" type="checkbox" id="charge" name="charge" checked/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Correctie maken</button>
            </div>
        </div>

    </form>

    <hr>
    <h2>Product niet geleverd</h2>
    <p>Maakt automatisch correcties voor alle bestellingen met dit product.</p>
    <form class="form-horizontal" role="form" action="mass" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="product" class="col-sm-2 control-label">Product</label>
            <div class="col-sm-10">
                <select class="form-control" id="product" name="product_id">
                    <option></option>
                    {% for p in view.products %}
                        <option value="{{ p.id }}">[{{ p.unit_of_measurement }}] {{ p.name }} ({{ p.supplier.name }})</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Correcties maken</button>
            </div>
        </div>

    </form>

    <hr>
    <h2>Correcties in deze bestelronde</h2>
    {% for s, corrections in view.corrections.items %}
    <h3>{{s}}</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Lid</th>
                <th>Bestelling</th>
                <th>Product</th>
                <th>Besteld</th>
                <th>Geleverd</th>
                <th>Compensatie</th>
                <th>Leverancier belasten?</th>
                <th>Notitie</th>
            </tr>
        </thead>
        <tbody>
            
        {% for c in corrections %}
            <tr>
                <td>{{c.order_product.order.user.get_full_name}}</td>
                <td>{{c.order_product.order.id}}</td>
                <td>{{c.order_product.product.name}}</td>
                <td>{{c.order_product.amount}}</td>
                <td>{{c.supplied_percentage}}%</td>
                <td>&euro; {{c.credit.amount}}</td>
                <td>{% if c.charge_supplier %}Ja{% else %}Nee{% endif %}</td>
                <td>{{c.notes}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endfor %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script lang="javascript">

        function populate_members(data) {
            var members_dropdown = $("#lid");
            $.each(data, function () {
                members_dropdown.append($('<option></option>').attr("value", this.id).text(this.name));
            });
        }

        function populate_orders(data, member_id) {
            var orders_dropdown = $("#order");
            orders_dropdown.empty();

            // look up user in our data structure
            $.each(data, function() {
               if (this.id === member_id) {
                   member_data = this;
               }
            });

            $.each(member_data.orders, function() {
                var txt = "Bestelling ID " + this.id + ", totale waarde: € " + this.total_price;
                orders_dropdown.append($('<option></option>').attr("value", this.id).text(txt));
            });

            var order_id = parseInt(($("#order option:selected").val()));
            populate_products(data, order_id);
        }

        function populate_products(data, order_id) {
            var products_dropdown = $("#product");
            products_dropdown.empty();

            // look up order
            $.each(data, function() {
                $.each(this.orders, function() {
                    if (this.id === order_id) {
                        order_data = this;
                    }
                });
            });

            $.each(order_data.order_products, function() {
                var txt = this.amount + " x " + this.name;
                products_dropdown.append($('<option></option>').attr("value", this.id).text(txt));
            })

        }

        var json_url = 'json';
        $.getJSON(json_url, function(data) {
            populate_members(data);

            // Set up dropdown events
            $(function() {
                $("#lid").change(function(){
                    var member_id = parseInt(($("#lid option:selected").val()));
                    populate_orders(data, member_id);
                });

                $("#order").change(function(){
                    var order_id = parseInt(($("#order option:selected").val()));
                    populate_products(data, order_id);
                });
            });
        });


    </script>

 {% endblock %}




