{% extends 'base.html' %}
{% block title %}Producten gemaakt{% endblock %}
{% block content %}
<h1>Producten gemaakt</h1>
    <p>De producten zijn aangemaakt.</p>

    <a class="btn btn-success" href="{% url 'productadmin_main' %}" role="button">
        <span class="glyphicon glyphicon-arrow-left"></span> Terug naar de leveranciers
    </a>

    <a class="btn btn-primary" href="{% url 'view_products' %}" role="button">
        Bekijk het resultaat <span class="glyphicon glyphicon-arrow-right"></span>
    </a>

{% endblock %}
