{% extends 'base.html' %}
{% block content %}
<h1>Bestelronden</h1>

<div class="panel panel-default">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Open?</th>
        <th>Datum open</th>
        <th>Datum gesloten</th>
        <th>Bestellijsten voor leveranciers</th>
        <th>Overzicht bestellingen per leden</th>
      </tr>
    </thead>
    <tbody>
      {% for orderround in object_list %}
          <tr>
            <td>{{ orderround.pk }}</td>
            <td>{% if orderround.is_open %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}</td>
            <td>{{ orderround.open_for_orders }}</td>
            <td>{{ orderround.closed_for_orders }}</td>
            <td><a href="{% url 'orderround_admin' orderround.pk %}">Bestellijsten</a></td>
            <td><a href="{% url 'userorders_admin' orderround.pk %}">Overzichten</a></td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}




