{% extends 'base.html' %}
{% block content %}
<h1>Bestelronde #{{ object.pk }}</h1>

{% for supplier, items in orders_per_supplier.items %}
<h2>{{ supplier }}</h2>
<div class="panel panel-default">
  <table class="table">
    <thead>
      <tr>
        <th>Aantal</th>
        <th>Eenheid</th>
        <th>Product</th>
        <th>Omschrijving</th>
        <th>Inkoopprijs</th>
        <th>Subtotaal</th>
      </tr>
    </thead>
    <tbody>
      {% for i in items.orderproducts %}
          <tr>
            <td><a href="{% url 'orderadmin_user_orders_per_product' i.product.pk %}">{{ i.amount }}</a></td>
            <td>{{ i.product.unit_of_measurement }}</td>
            <td>{{ i.product.name }}</td>
            <td>{{ i.product.description }}</td>
            <td>&euro; {{ i.product.base_price }}</td>
            <td>&euro; {{ i.sub_total }}</td>
          </tr>
      {% endfor %}
      <tr class="panel-footer">
        <td>-</td>
        <td>-</td>
        <td>TOTAAL</td>
        <td>-</td>
        <td>-</td>
        <td>&euro; {{ items.sum }}</td>
      </tr>

    </tbody>
  </table>
</div>

{% endfor %}
{% endblock %}




