{% extends 'base.html' %}
{% block title %}Besteloverzichten{% endblock %}

{% block content %}
<h1>Bestelronden</h1>

<div class="panel panel-default">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Open?</th>
        <th>Datum open</th>
        <th>Datum gesloten</th>
        <th>Bestellijsten voor leveranciers</th>
        <th>Unieke bestellingen</th>
        <th>Overzicht bestellingen per product</th>
        <th>Correcties</th>
      </tr>
    </thead>
    <tbody>
      {% for orderround in object_list %}
          <tr {% if orderround.is_current %}class="success"{% endif %}>
            <td>{{ orderround.pk }}</td>
            <td>{% if orderround.is_open %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}</td>
            <td>{{ orderround.open_for_orders }}</td>
            <td>{{ orderround.closed_for_orders }}</td>
            <td><a href="{% url 'orderadmin_orderlists' orderround.pk %}">Bestellijsten</a></td>
            <td><a href="{% url 'orderadmin_userorders' orderround.pk %}">{{ orderround.number_of_orders }}</a></td>
            <td><a href="{% url 'orderadmin_orders_per_product' orderround.pk %}">Overzicht</a></td>
            <td><a href="{% url 'orderadmin_correction' orderround.pk %}">Correcties</a></td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}




