{% extends 'base.html' %}
{% block content %}
<style>
.panel {
{#    page-break-after: always;#}
    page-break-inside: avoid;
    font-size: 11px;
}
</style>

<h1>Bestellingen per product van bestelronde #{{ object_list.0.order.order_round.pk }}</h1>
<h6>Gegenereerd op {% now "DATETIME_FORMAT" %}</h6>

{% for supplier, products in data.items %}
    <h2>{{ supplier }}</h2>
    {%  for product, orderproducts in products.items %}
        <div class="panel panel-default">
        <div class="panel-heading">
        <h4>{{ product }} (Totaal besteld: {{ product.amount_ordered }} {{ product.unit_of_measurement }})</h4>
        </div>
        <div class="panel-body">
        {{ product.description }}
        </div>

  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Aantal</th>
        <th>Eenheid</th>
        <th>Lid</th>
        <th>Lid ID</th>
        <th>Bestelling ID</th>
      </tr>
    </thead>
    <tbody>
        {%  for op in orderproducts %}
          <tr>
            <td>{{ op.amount }}</td>
            <td>{{ op.product.unit_of_measurement }}</td>
            <td>{{ op.order.user }}</td>
            <td>ID #{{ op.order.user.pk }}</td>
            <td>ID #{{ op.order.pk }}</td>
          </tr>
        {% endfor %}
    </tbody>
  </table>
</div>


    {% endfor %}

{% endfor %}
{% endblock %}