{% extends 'base.html' %}
{% block content %}
<h1>Boerenadmin</h1>

<h2>Leveranciers</h2>
<div class="panel panel-default">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Leverancier</th>
        <th>Producten maken</th>
      </tr>
    </thead>
    <tbody>
      {% for supplier in object_list %}
          <tr>
            <td>{{ supplier.pk }}</td>
            <td>{{ supplier.name }}</td>
            <td><a href="{% url 'create_draft_products' supplier.pk %}">Producten maken</a></td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<h2>Mailings</h2>
    <a href="{% url "productadmin_mailing" current_order_round.pk "round-open" %}" role="button" class="btn btn-primary">Verstuur "Ronde open" mailing</a>
    <a href="{% url "productadmin_mailing" current_order_round.pk "reminder" %}" role="button" class="btn btn-primary">Verstuur bestelherinnering mailing</a>
{% endblock %}




