{% extends 'base.html' %}
{% block content %}
<h1>Boerenadmin</h1>

<h2>Actieve leveranciers</h2>
<div class="panel panel-default">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Leverancier</th>
        <th>Aantal producten in huidige ronde</th>
        <th>Producten maken</th>
      </tr>
    </thead>
    <tbody>
      {% for supplier in object_list %}
          <tr>
            <td>{{ supplier.pk }}</td>
            <td>{{ supplier.name }}</td>
            <td>{{ supplier.product_count }}</td>
            <td><a href="{% url 'create_draft_products' supplier.pk %}">Producten maken</a></td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<h2>Mailings</h2>
    {% if current_order_round.is_open %}
    <a href="{% url "productadmin_mailing" current_order_round.pk "round-open" %}" role="button" class="btn btn-primary">Verstuur "Ronde open" mailing</a>
    {% else %}
        Je kunt geen mailing versturen want de huidige bestelronde is niet open.
    {% endif %}

<h2>Laatste 10 opmerkingen</h2>
<ol>
    {% for o in last_ten_orders_with_notes %}
        <li><strong>{{ o.user.get_full_name }}</strong> op <strong>{{ o.modified.date }}</strong> (ronde {{ o.order_round.id }}): {{ o.user_notes  }}</li>
    {% endfor %}
</ol>

{% endblock %}
