{% extends 'base.html' %}
{% block content %}
    <style>
    .panel {
        page-break-after: always;
        page-break-inside: avoid;
        font-size: 11px;
    }
    </style>

{% for order in object_list %}
<div class="panel panel-default">
<div class="panel-heading">
<h4>#{{ forloop.counter }}: Bestelling van {{ order.user }}</h4>
</div>
  <div class="panel-body">
    ID: {{ order.pk }}
    | Afgerond: {% if order.finalized %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}
    | Laatst gewijzigd: {{ order.modified }}
    | {{ order.user.email }}
  </div>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Aantal</th>
        <th>Eenheid</th>
        <th>Product</th>
        <th>Leverancier</th>
        <th>Omschrijving</th>
        <th>Per stuk</th>
        <th>Totaal</th>
      </tr>
    </thead>
    <tbody>

      {% for o in order.orderproducts.all %}
          <tr {% if o.product == object %}class="success"{% endif %}>
            <td>{{ o.amount }}</td>
            <td>{{ o.product.unit_of_measurement }}</td>
            <td>{{ o.product.name }}</td>
            <td>{{ o.product.supplier }}</td>
            <td>{{ o.product.description|truncatechars:50 }}</td>
            <td>&euro; {{ o.product.retail_price }}</td>
            <td>&euro; {{ o.total_price }}</td>
          </tr>
      {% endfor %}

    {% if order.member_fee %}
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>Ledenbijdrage bij eerste bestelling</td>
        <td>-</td>
        <td>&euro; {{ order.member_fee }}</td>
     </tr>
    {% endif %}

    <tr class="panel-footer">
       <td><strong>Totaal</strong></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td><strong>&euro; {{ order.total_price }}</strong></td>
        </tr>
    </tbody>
  </table>
</div>

{% endfor %}
{% endblock %}