{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}Transportleden{% endblock %}
{% block content %}
<div id="modal" class="modal fade">
    <div id="dialog" class="modal-dialog" hx-target="this"></div>
</div>
    <h1 class="page-header">Transportleden</h1>
    <p>
        Lijst van leden in de transportgroep. 
    </p>
    <!-- Table -->
    <div class="panel panel-default">
        <table class="table">
            <thead>
            <tr>
                <th>Naam</th>
                <th>E-mail</th>
                <th>Telefoon</th>
                {% comment %} <th>Bijzonderheden</th> {% endcomment %}
                {% if 'Transportcoordinatoren' in user.flat_groups or 'Admin' in user.flat_groups or user.is_superuser %}
                <th>Opmerkingen<br/> coordinator</th>
                {% endif %}
                <th class="text-center">Coördinator</th>
            </tr>
            </thead>
            <tbody>
            {% for account in object_list %}
            <tr class="account">
                <td class="col-md-2">{{ account.get_full_name }}</td>
                <td class="col-md-2">{{ account.email }}</td>
                <td class="col-md-1">{{ account.userprofile.phone_number }}</td>    
                {% comment %} <td class="col-md-1">{{ account.userprofile.particularities|default_if_none:"&nbsp;" }}</td>  {% endcomment %}
                {% if 'Transportcoordinatoren' in user.flat_groups or 'Admin' in user.flat_groups or user.is_superuser %}
                <td class="col-md-1">{{ account.userprofile.coordinator_remarks|default_if_none:"&nbsp;" }}<br/>
                    <a href="{% url 'coordinator_remarks' account.userprofile.id %}">edit</a>
                </td>   
                {% endif %}        
                <td class="col-md-1 text-center">{% if 'Transportcoordinatoren' in account.flat_groups %}X{% endif %}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
