{% extends 'base.html' %}
{% block title %}Transportleden{% endblock %}
{% block content %}
<div id="modal" class="modal fade">
    <div id="dialog" class="modal-dialog" hx-target="this"></div>
</div>
    <h1 class="page-header">Transportleden</h1>
    <p>
        Lijst van leden in de transportgroep. 
    </p>
    <!-- Table -->
    <div class="panel panel-default">
        <table class="table">
            <thead>
            <tr>
                <th>Naam</th>
                <th>E-mail</th>
                <th>Telefoon</th>
                <th>Opmerkingen lid</th>
                {% if 'Transportcoordinatoren' in user.flat_groups or 'Admin' in user.flat_groups or user.is_superuser %}
                <th>Opmerkingen<br/> coördinator</th>
                <th></th>
                {% endif %}
                <th class="text-center">Coördinator</th>
                <th class="text-center">Auto</th>
                <th class="text-center">Rijbewijs</th>
            </tr>
            </thead>
            <tbody>
            {% for account in object_list %}
            <tr class="account">
                <td class="col-md-2">{{ account.get_full_name }}</td>
                <td class="col-md-2">{{ account.email }}</td>
                <td class="col-md-2">{{ account.userprofile.phone_number }}</td>    
                <td class="col-md-3">{{ account.userprofile.particularities|default_if_none:"" }}</td> 
                {% if 'Transportcoordinatoren' in user.flat_groups or 'Admin' in user.flat_groups or user.is_superuser %}
                <td class="col-md-3">{{ account.userprofile.coordinator_remarks|default_if_none:"" }}</td>
                <td class="col-md-1">
                    <a href="{% url 'coordinator_remarks' account.userprofile.id %}"><span class="bi-pencil-fill"></span></a>
                </td>   
                {% endif %}        
                <td class="col-md-1 text-center">{% if 'Transportcoordinatoren' in account.flat_groups %}<span class="bi-check-lg"></span>{% endif %}</td>
                <td class="col-md-1 text-center">{% if account.userprofile.shares_car %}<span class="bi-check-lg"></span>{% endif %}</td>
                <td class="col-md-1 text-center">{% if account.userprofile.has_drivers_license %}<span class="bi-check-lg"></span>{% endif %}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
