{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}{{ object.date|date:"j F Y" }} {{ object.route }}{% endblock %}
{% block content %}
<h1>Rit op {{ object.date|date:"j F Y" }}</h1>
<p>
  Hieronder staat zoveel mogelijk informatie voor deze rit.<br />
  Voor meer algemene informatie zie de <a href="http://vokoutrecht.nl/transport/">Transporthandleiding</a>.<br />
  Bedankt voor het meedoen aan transport.
</p>

<div class="panel panel-default">
  <table class="table">
    <tbody>
      <tr>
        <td><strong>Datum</strong></td>
        <td>{{ object.date|date:"j F Y" }}</td>
      </tr>
      <tr>
        <td><strong>Route</strong></td>
        <td>{{ object.route }}</td>
      </tr>
      <tr>
        <td><strong>Bestellijst</strong></td>
        <td><a href="{% url 'orderadmin_orderlists' object.order_round.pk %}">Bestelronde #{{ object.order_round.pk }}</a></td>
      </tr>
    </tbody>
  </table>
</div>
<h2>Contact info</h2>
<div class="panel panel-default">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Naam</th>
        <th>Email</th>
        <th>Telefoon</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="col-md-1">Rijder</th>
        <td class="col-md-1">{{ object.driver }}</td>
        <td class="col-md-1">{{ object.driver.email }}</td>
        <td class="col-md-1">{{ object.driver.userprofile.phone_number }}</td>
      </tr>
      <tr>
        <th class="col-md-1">Bijrijder</th>
        <td class="col-md-1">{{ object.codriver }}</td>
        <td class="col-md-1">{{ object.codriver.email }}</td>
        <td class="col-md-1">{{ object.codriver.userprofile.phone_number }}</td>
      </tr>
      {% for coordinator in object.coordinators.all %}
        <tr>
          <th class="col-md-1">Transport coördinator</th>
          <td class="col-md-1">{{ coordinator }}</td>
          <td class="col-md-1">{{ coordinator.email }}</td>
          <td class="col-md-1">{{ coordinator.userprofile.phone_number }}</td>
        </tr>
      {% endfor %}
      {% if object.distribution_coordinator %}
        <tr>
          <th class="col-md-1">Uitdeel coördinator</th>
          <td class="col-md-1">{{ object.distribution_coordinator }}</td>
          <td class="col-md-1">{{ object.distribution_coordinator.email }}</td>
          <td class="col-md-1">{{ object.distribution_coordinator.userprofile.phone_number }}</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
</div>

<h2>Leveranciers op route {{ object.route }}</h2>
<div class="panel panel-default table-container">
  {% if object.orders_per_supplier.items %}
    <table class="table">
      <thead>
        <tr>
          <th>Naam</th>
          <th>Adres</th>
          <th>Contact info</th>
          <th>Info</th>
        </tr>
      </thead>
      <tbody>
        {% for supplier, items in object.orders_per_supplier.items %}
          {% if items.orderproducts %}
            <tr class="success">
                <td>{{ supplier.name }}</td>
                <td>{{ supplier.address }}</td>
                <td>
                  {{ supplier.contact_person }}<br />
                  {{ supplier.email }}<br />
                  {{ supplier.phone_number }}
                </td>
                <td>{{ supplier.transport_info }}</td>
            </tr>
            <tr>
              <td colspan="4">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Aantal</th>
                        <th>Eenheid</th>
                        <th>Product</th>
                        <th>Omschrijving</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in items.orderproducts %}
                          <tr>
                            <td>{{ item.amount }}</td>
                            <td>{{ item.product.unit_of_measurement }}</td>
                            <td>{{ item.product.name }}</td>
                            <td>{{ item.product.description }}</td>
                          </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="panel-body">
      Geen leveranciers met bestellingen gevonden
    </div>
  {% endif %}
</div>
{% endblock %}
