{% extends 'base.html' %}
{% block title %}500 Internal Server Error{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <h1>Er ging iets mis!</h1>
            <p>
                Er is iets fout gegaan. Het IT-team is op de hoogte gesteld.
            </p>
            <p>
                Je kunt de terug-knop van je browser gebruiken en het eventueel nogmaals proberen.<br/>
                Mocht het probleem zich blijven voordoen, neem dan even contact met ons op.
            </p>
    </div>
</div>
{% endblock %}