<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluid mt-auto p-0">
    <!-- Footer -->
    <footer class="text-center text-lg-start text-dark">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-between p-2 text-white" style="background-color: rgba(0, 0, 0, 0.1)">
            <!-- Left -->
            <div class="me-2">
                <span></span>
            </div>
            <!-- Left -->

            <!-- Right -->
            <!-- <div>
          <a href="" class="me-4 text-4">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="" class="me-4">
            <i class="bi bi-twitter"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-github"></i>
          </a>
        </div> -->
            <!-- Right -->
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold">Uitdeellocaties</h6>
                        <hr class="mb-2 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <div class="d-flex flex-row justify-content-between">
                            <span>
                                <h5>Averechts</h5>
                                Lijsterstraat 49<br>
                                Vogelenbuurt<br>
                            </span>
                            <span>
                                <h5>Krachtstation</h5>
                                Lijsterstraat 49<br>
                                Kanaaleiland
                            </span>
                        </div>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Handige links</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>
                            <a href="{% url 'regulations' %}" class="text-dark">Reglement</a>
                        </p>
                        <p>
                            <a href="{% url 'privacy' %}" class="text-dark">Privaystatement</a>
                        </p>
                        <p>
                            <a href="{% url 'docs.document_overview' %}" class="text-dark">Documenten</a>
                        </p>
                        <p>
                            <a href="{% url 'contact' %}" class="text-dark">Contact</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Stichting</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p><i class="mr-3"></i>Stichting Financien VOKO Utrecht</p>
                        <p><i class="mr-3"></i>KVK: 61879584</p>
                        <p><i class="mr-3"></i>e-mail: info@vokoutrecht.nl</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.1)">Publieke website:
            <a class="text-dark" href="https://www.vokoutrecht.nl">www.vokoutrecht.nl</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</div>
<!-- End of .container -->