{% extends 'base.html' %}
{% block title %}Privacy statement VOKO Utrecht{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <h1>Privacy statement VOKO Utrecht</h1>
        <p>
            VOKO Utrecht is een collectief van vrijwilligers. Om als collectief gezamenlijk te kunnen functioneren, verzamelen en gebruiken de volgende gegevens van leden: voor- en achternaam, e-mailadres en telefoonnummer. We gebruiken deze gegevens voor de communicatie over en coördinatie van het collectief en voor de administratie van de bestellingen.
        </p>
        <h2>Gegevens in het bestelsysteem</h2>
        <p>
            De contact- en bestelgegevens worden bewaard in een eigen bestelsysteem, hiertoe hebben alleen geautoriseerde leden toegang. Deze gegevens worden gebruikt bij de communicatie over het functioneren van het collectief en de bestelronden en voor de (financiële) administratie.
        </p>
        <p>
            Om de bestellingen klaar te zetten tijdens uitdeelavonden worden overzichten per besteller uitgedraaid. De contactgegevens van bestellers staan op deze overzichten en kunnen gebruikt worden om laatkomers te contacteren. Bestellers zijn zelf verantwoordelijk voor het meenemen van het persoonlijke besteloverzicht, overzichten die aan het einde van de uitdeelavond overblijven worden weggegooid.
        </p>
        <p>
            Om het aanbod en de samenwerking met onze leveranciers te verbeteren kunnen bestelgegevens gebruikt worden om de afname van verschillende producten bij verschillende leveranciers in kaart te brengen.
        </p>
        <p>
            Betalingen lopen via een externe provider: Mollie. De betaalgegevens worden door Mollie bewaard. Stichting Financiën VOKO Utrecht is verantwoordelijk voor het beheer de financiën en kan de betaalgegevens bij Mollie inzien. Wanneer deze gegevens worden ingezien is dit uitsluitend ten behoeve van het voeren van een correcte boekhouding.
        </p>
        <h2>Werkgroepoverzichten</h2>
        <p>
            Per werkgroep worden door de coördinatoren aparte overzichten met namen, e-mailadressen en telefoonnummers bijgehouden om informatie te verstrekken en de taken te coördineren.
        </p>
        <h2>Uitschrijving</h2>
        <p>
            Wanneer je je uitschrijft worden je persoonsgegevens uit het bestelsysteem en het betreffende werkgroepoverzicht verwijderd. Het kan zijn dat werkgroepoverzichten in clouddiensten bewaard worden (waarin oudere versies bewaard blijven).
        </p>
    </div>
</div>
{% endblock %}
