{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %}Account activeren{% endblock %}
{% block content %}
<h1>Welkom terug {{ object.first_name }}!</h1>
<div class="row mt-4">
    <div class="col-md-12">
        <p>Leuk dat je lid wilt worden van Voedselkollektief Amersfoort.
            
        <p> Via deze pagina kun je je account activeren en lid worden van VOKO Amersfoort. <br/>
        Met deze activatie geef je aan het reglement en het <a href="{% url 'privacy' %}" target="_blank">privacy statement</a> van VOKO Amersfoort te hebben gelezen en met beiden akkoord gaat.
        </p>
        <p>
            <strong>Het reglement:</strong><br/>
            {% include 'partials/regulations.html' %}
        </p>
        <p>
            <strong>Privacy statement:</strong>
        </p>
        <p>Het privacy statement kun je lezen via de volgende link: <a href="{% url 'privacy' %}" target="_blank">Privacy statement</a>.</p>
        <p>
            Nadat je deze bevestiging hebt doorlopen en je eerste bestelling (en dus het lidmaatschapsgeld)
            hebt betaald zullen wij je zo snel mogelijk indelen bij een van de werkgroepen.
            Bij welke werkgroep je wordt geplaatst is afhankelijk van waar we momenteel vrijwilligers nodig hebben en
            je beschikbaarheid en voorkeur. We willen je verzoeken om in onderstaand veld antwoord te geven op de
            volgende vragen, zodat we weten welke werkgroep je voorkeur heeft, wanneer je beschikbaar bent en of je
            nog op andere manieren een bijdrage wilt leveren aan VOKO.
        </p>
        <p>
            <strong>De vragen:</strong>
            <ol>
                <li>Geef in een top drie aan in welke werkgroepen je voorkeur hebben (1=leukst):</li>
                <ul>
                    <li>Administratie</li>
                    <li>Contact Boeren</li>
                    <li>Techniek (IT)</li>
                    <li>Transport (woensdag overdag)</li>
                    <li>Uitdeelgroep (woensdagavond)</li>
                </ul>
                <li>Op welke dagdelen ben je beschikbaar voor VOKO activiteiten?</li>
                <li>Beschik je over een auto(bus), bakfiets of ander voertuig waarmee producten kunnen worden opgehaald?
                Heb je talenten die van pas komen binnen VOKO? Of wil je nog iets kwijt?</li>
            </ol>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form action="" method="post">{% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="mt-4 btn btn-primary">
              <span class="bi-star"></span> Account activeren
            </button>
        </form>
    </div>
</div>
{% endblock %}
