{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<h1>Welkom terug {{ object.first_name }}!</h1>
<div class="row">
    <div class="col-md-6">
        <p>Voer a.u.b. de onderstaande gegevens in om je lidmaatschap te activeren.</p>

        <p>
            <strong>Geef in het tekstveld onderaan antwoord op de volgende drie vragen:</strong>
    <ol>
                <li>Geef in een top drie aan in welke werkgroepen je voorkeur hebben (1=leukst):</li>
                <ol type="a">
                    <li>Administratie</li>
                    <li>Contact Boeren</li>
                    <li>Techniek (IT)</li>
                    <li>PR en ledenwerving</li>
                    <li>Ophalen bestellingen (woensdag overdag)</li>
                    <li>Distributie bestellingen (woensdag avond)</li>
                </ol>
                <li>Op welke dagdelen ben je beschikbaar voor VOKO activiteiten?</li>
                <li>Beschik je over een auto(bus), bakfiets of ander voertuig waarmee producten kunnen worden opgehaald?
                Heb je talenten die van pas komen binnen VOKO? Of wil je nog iets kwijt?</li>
            </ol>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form action="" method="post">{% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">
              {% bootstrap_icon "star" %} Account activeren
            </button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}