{% extends 'base.html' %}
{% block title %}Email-adres bevestigd{% endblock %}
{% block content %}
<h1>Bedankt!</h1>
<p>
    Hartelijk dank voor je aanmelding, deze is nu bevestigd!
</p>
<p>
    We nemen binnenkort contact met je op over de eerstvolgende informatiebijeenkomst.
</p>
<p>
In de tussentijd nodigen we je uit om alvast een kijkje te nemen op onze <a href="https://www.facebook.com/voedselkollektief/">Facebookpagina</a>.
</p>


<p>
    Tot binnenkort!<br/>
    Voedselkollektief Amersfoort.
</p>
{% endblock %}