{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}Inloggen{% endblock %}
{% block content %}
<h1>Inloggen</h1>
<div class="row">
    <div class="col-md-4">
        <form action="" method="post">{% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">
              {% bootstrap_icon "user" %} Inloggen
            </button>
            <a class="btn btn-warning" href="{% url 'password_reset' %}" role="button">
            <span class="glyphicon glyphicon-question-sign"></span> Wachtwoord vergeten?</a>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}