{% extends 'base.html' %}

{% block title %}Accountoverzicht{% endblock %}
{% block content %}
    <h1 class="page-header mt-2">Welkom, {{ user.first_name }}</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                
                <p class="mt-5 lead fs-6">
                De huidige bestelronde is <strong>bestelronde {{ view.current_order_round.id }}</strong>.<br/>Deze bestelronde is nu <strong>{% if view.current_order_round.is_open %}open{% else %}gesloten{% endif %}</strong>.
                </p>
                <table class="table fs-6">
                    <tbody>
                        <tr>
                            <td>Bestelronde open op</td>
                            <td>{{ view.current_order_round.open_for_orders }}</td>
                        </tr>
                        <tr>
                            <td>Bestelronde open tot</td>
                            <td>{{ view.current_order_round.closed_for_orders }}</td>
                        </tr>
                        <tr>
                            <td>Ophaalmoment</td>
                            <td>{{ view.current_order_round.collect_datetime }}</td>
                        </tr>
                    </tbody>
                </table>
                {% if news %}
                    <h2 class="mt-5 page-header">
                        VOKO Utrecht nieuws
                    </h2>
                    <div class="mt-4"></div>
                    <!-- <table class="mt-2 table"> -->
                       <div class="col-12 ">
                        <table class="table table-striped mh-50">
                        {% for n in news %}
                        <tr><td class="p-3"><span class="smaller">{{ n.publish_date|date:'j F Y' }}</span>
                        <h6>{{ n.title }}</h6>
                        {{ n.summary }}
                        </td>
                        </tr>
                        {% endfor %}
                        </table>
                    </div>
                        

                    <!-- {% for n in news  %} -->
                    <!-- <div class="card">
                        <div class="card-header text-end small">
                            {{ n.publish_date|date:'j F Y' }}
                        </div>
                        <div class="card-body">
                            <a href="{% url 'view_newsitems' %}{{ n.id }}"><h5 class="card-title">{{ n.title }}</h5></a>
                          <p class="card-text">{{ n.summary }}</p>
                          <a href="{% url 'view_newsitems' %}{{ n.id }}" class="fa fa-chevron-right"></a> 
                        </div>
                      </div> -->

                        <!-- <tr><td class="">{{ n.publish_date|date:'j F Y' }}</td><td class="w-75 "><div class="fs-6">{{ n.title }}</div><div>{{ n.summary }}</div>
                            <div class="text-end"><a href="{% url 'view_newsitems' %}{{ n.id }}"><span class="fa fa-chevron-right">ss</span></a></div></td></tr>                        -->
                    <!-- {% endfor %} -->
                    <!-- </table> -->
                {% endif %}
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h2 class="page-header">
                    Jouw agenda
                </h2>
                <table class="mt-2 table">
                {% for e in events  %}
                {% if e.is_shift %}
                <tr class="fw-bold bg-light" data-bs-toggle="tooltip" data-bs-placement="right" title="Je bent ingedeeld voor deze dienst.">
                {% else %}
                <tr>
                {% endif %}
                <td><table class="table-condensed w-100">
                    <tr>
                        <td class="w-50">{{ e.date|date:'j F Y' }}{% if e.time %}, {{ e.time|date:'H:i' }}{% endif %}</td>
                        <td class="w-50">{{ e.title }}</td>
                        <td class="w-auto">{% if e.is_shift %}<span class="text-danger bi bi-exclamation-square"></span>{% endif %}
                        </td>
                    </tr>
                    {% if e.short_description %}
                    <tr>
                        <td colspan="3" class="ms-4 fw-normal" style="border-width: 0px;"><span class="ms-4">{{ e.short_description|safe }}</span></td>
                    </tr>
                    {% endif %}
                </table></td>
                </tr>               
                {% endfor %}
                </table>

                <div class="container">
                    <div class="panel">
                        <h2 class="page-header">Recente bestellingen</h2>
                        <p class="lead">
                            {% if orders %}
                            Je hebt {{ orders|length }} bestellingen geplaatst.
                            {% else %}
                            Je hebt nog geen bestellingen geplaatst.
                            {% endif %}
                        </p>
                        {% if orders %}
                        <table class="table table-condensed" id="orders-table">
                            <thead>
                                <tr>
                                    <th>Bestelling</th>
                                    <th>Bestelronde</th>
                                    <th>Bedrag</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders|slice:":5" %}
                                <tr>
                                    <td><a href="{% url 'order_summary' order.pk %}">Bestelling
                                            {{ order.user_order_number }}</a></td>
                                    <td>{{ order.order_round }}</td>
                                    <td>&euro; {{ order.total_price }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="text-end"><a href="{% url 'order_history' %}">Bestelgeschiedenis</a></div>
                        {% endif %}
                    </div>
                    <div class="panel">
                        <h2 class="page-header">Jouw financiën</h2>
                        <div class="d-flex justify-content-between">
                            {% if user.balance.debit %}
                            Saldo: &euro; -{{ user.balance.debit }}
                            {% else %}
                            Saldo: &euro; {{ user.balance.credit }}
                            {% endif %}
                            <div class="text-end"><a href="{% url 'order_history' %}#finance">Overzicht</a></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}


