{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}Profiel{% endblock %}
{% block content %}
<h1>Profiel</h1>
<div class="row">
    <div class="col-md-4">
        <form action="" method="post">{% csrf_token %}
        {% bootstrap_form form %}
                    {% buttons %}
                    <button type="submit" class="btn btn-primary">
                      {% bootstrap_icon "user" %} Profiel wijzigen
                    </button>
                    {% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script>
        function updateForm(duration) {
            var sharesCar = $("#id_shares_car").prop("checked");
            var fields = $("#id_car_neighborhood, #id_car_type").parent();
            if (sharesCar) fields.show(duration);
            else fields.hide(duration);
        }
        updateForm(0);
        $("#id_shares_car").change(updateForm);
    </script>
{% endblock %}



