{% extends 'base.html' %}
{% block title %}Registreren{% endblock %}
{% block content %}
<h1>Bedankt!</h1>
<p>
Leuk dat je lid wilt worden van VOKO Utrecht!
</p>
<p>
    We hebben een e-mail gestuurd naar het e-mailadres dat je hebt ingevoerd, hiermee kun je je aanmelding bevestigen.
    Wanneer je de aanmelding hebt bevestigd zullen wij binnenkort contact met je opnemen over de eerstvolgende informatiebijeenkomst.
</p>

<h2>Heb je niks ontvangen?</h2>

<p>Het bericht kan in je spamfolder terecht zijn gekomen, we verzoeken je daarom eerst die folder te bekijken.
    Heb je echt niks ontvangen? Stuur dan een berichtje naar: info@vokoutrecht.nl
</p>
{% endblock %}