{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<h1>Lid worden?</h1>
<p>
    We nodigen iedereen die interesse heeft uit om lid te worden van VOKO Utrecht.
    Wel vragen we geïnteresseerden om eerst een informatiebijeenkomst bij te wonen, waarin we uitleggen
    wat VOKO Utrecht precies is en wat het betekent om lid te worden, alvorens de inschrijving definitief wordt.
</p><p>
    Om lid te worden van VOKO Utrecht vragen we daarom hieronder je naam en e-mailadres in te voeren.
    We zullen dan binnenkort contact met je opnemen over de eerstvolgende informatiebijeenkomst.
</p>

<form action="" method="post">{% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">Lidmaatschap aanvragen</button>
    {% endbuttons %}
</form>
{% endblock %}