{% extends 'base.html' %}
{% block title %}Teamindeling{% endblock %}
{% block content %}
    <h1 class="page-header">Teamindeling</h1>
    <p>
        Lijst van alle teams en actieve leden. 
    </p>
    <!-- Table -->
    <div class="panel panel-default">
        <table class="table">
            <tbody>
                <tr>
                    {% for group in object_list %}                  
                    <td>
                        <table class="table-striped table-condensed table-responsive">
                            <tr>    
                                <th class="bg-primary">
                                    {{ group.group.name }} ({{ group.members|length }})
                                </th>  
                            </tr>
                            {% for member in group.members %}
                            <tr class="account">
                                <td class="col-md-2">
                                    {% if user.is_admin or user.is_superuser %}
                                        <a href="/admin/accounts/vokouser/{{ member.id }}">{{ member }}</a>
                                    {% else %}
                                        {{ member }}
                                    {% endif %}
                                    {% if group.show_detailed %}
                                        <br/><div class="small text-right text-muted">lid sinds: {{ member.created|date:"M d, Y" }}<br/>
                                        laatste login: {{ member.last_login|date:"M d, Y" }}</div>
                                    {% endif %}
                                </td>         
                            </tr>
                            {% endfor %}
                        </table>
                    </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
