body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.table .table {
  margin: 0 2em;
  width: calc(100% - 4em);
}
.table-container {
  overflow-x: auto;
}

.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

/* ordering products page */
.categories {
  padding: 15px 15px 0 15px;
}

.product-list {
  padding-top: 15px;
}

.product {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

.product:last-child, .product.last {
  margin-bottom: 0;
  border-bottom: 0;
}

.product .product-name {
  margin-top: 0;
}

.product .progress {
  margin: 0;
}

.product .info p:last-child {
  margin-bottom: 0;
}

.product .order .row {
  margin-bottom: 15px;
}
