@font-face {
  font-family: 'Hipsterish';
  src: url("/static/font/hipsterishfontnormal-webfont.woff2") format("woff2"), url("/static/font/hipsterishfontnormal-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}



:root {
  --hipster-font-family: "Hipsterish", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
  --regular-font-family: "Open Sans", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;

}

.btn-primary {
  --bs-btn-active-bg: #000;
  --bs-btn-bg: #efd301;
  --bs-btn-border-color: #efd301;
  --bs-btn-color:#291703;  
  --bs-btn-hover-bg: #cbb402;
  --bs-btn-hover-border-color: #cbb402;
  --bs-btn-hover-color:#291703;
}

.lead {
  font-size: 1.1em;
}

.btn-secondary {
  --bs-btn-bg: #faae66;
  --bs-btn-color:#291703;
  --bs-btn-border-color: #faae66;
  --bs-btn-active-bg: #d8995f;
  --bs-btn-hover-bg: #d8995f;
  --bs-btn-hover-border-color: #d8995f;
  --bs-btn-hover-color:#291703;  
}

a {
  color: #02385a;
}

a:hover {
  color: #035081;
}



.panel {
  margin-top: 2em;
  display: block;
}

body {
  font-size: 14px;
  font-family: var(--regular-font-family)
}

.form-control {
  height: 34px;
}

.product {
  border-color: rgb(117, 103, 0, 0.3);
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  margin-bottom: 1.2em;
}


.normalfont {
  font-family: var(--regular-font-family)
}

.body-background {
    background-image: url("/static/img/craftpaper-light.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 661px 480px;
}

.nav-background {
    background-image: url("/static/img/headgreen.png");
    background-position: center bottom;
    background-size: cover;
    height: 110px;
}

.navbar li a {
  font-family: var(--hipster-font-family);
  font-size: 1.3em;
  font-weight: 800;
  letter-spacing: .06em;
  --bs-nav-link-color: #291703 !important;
  height: 100%;
  margin-right: 1em;
}

.nav-tabs, .nav-item {
  --bs-nav-tabs-border-color: #291703;
  --bs-nav-tabs-link-hover-border-color: #291703;
  --bs-nav-link-color: #291703;  
  --bs-nav-link-hover-color: #007200;  
  font-size: 16px;
}

.info a {
  text-decoration: none;
}

.dropdown-menu {
  background-image: url("/static/img/headgreen.png");
  font-size: 0.8em;
  letter-spacing: .06em;
  margin-top: -10px !important;
}

.dropdown-item {
  opacity: 1;
  font-size: smaller;
  font-weight: bolder;
}

.dropdown-item:hover {
  color:#007200;
  background: none;
}

.progress {
  width: 10em;
}

.progress-bar {
  background-color: #007200;
}

h4.product-name a {
  text-decoration: none;
}

@media all and (min-width: 800px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

@media (max-width: 800px) {

    .navbar-brand {
        width: 210px;
        height: 34px;
        background-image: url('/static/img/logo-b-mini.png');
        background-size: 210px 34px;    
    }

    .navbar-brand img {
      display: none;
    }

    .navbar {
      height: 56px;
    }

    .navbar-collapse {
      display: block;
      position: relative;
      margin: 5px 0px 5px 5px;
      right: auto;
      width: 100%;
      height: 100%;
      padding: 20px 20px 130px;
      background-image: url("/static/img/craftpaper.jpg");
      background-size: 661px 480px;
      transition: all 0.2s ease; 
      border-radius: 6px;    
    }

    .navbar-collapse li {
      display: block;
      width: 100%;
      position: relative;
      padding: 15px 10px 17px;
      text-align: center;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    .navbar-collapse li .sub-menu {
      padding-bottom: 0;
    }
    .navbar-collapse li a {
      display: block;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
      color: #fff !important;
      line-height: 1;
    }

    .dropdown-toggle::after {
      display: none;
    }

    .dropdown-menu {
      display: block;
      background-image: unset;
      background: unset;
      border: 0px;
    }

    .dropdown-menu li  {
      border-bottom: 0px;
      padding: 6px;
    }
  }

h1, h2, h3 {
  clear: both;
  font-weight: bold;
  font-family: var(--hipster-font-family);
  line-height: 1.2;
  letter-spacing: 0.01em;
  margin: 0;
  color: #007200;
}

tr {
  border-color: #d1c091;
}

/* textarea, input, option, select {
  background-color: #f1dca5 !important;
  border-color: #e8d39e !important;
} */

ul.pagination li a {
  background-color: #d1c091 !important;
  border-color: #756700 !important;
  color:#291703;
}

ul.pagination li.active a {
  background-color: #fee8ae !important;
  border-color: #756700 !important;
  color:#291703;
}

ul.pagination li:hover a {
  background-color: #fee8ae !important;
  border-color: #756700 !important;
  color:#291703;
}


