{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<h1>Bestelling betalen</h1>
<div><p><br/></p></div>
<div class="alert alert-danger" role="alert">
    <p><strong>LET OP!</strong> Door vertraging bij onze notaris hebben we helaas niet op tijd een
    bankrekening kunnen bemachtigen.</p>
    <p>
        We vragen je dus om het bedrag van <u>&euro; {{ object.total_price_to_pay_with_balances_taken_into_account }}</u>
        de komende ophaaldag <strong>contant</strong> mee te nemen (het liefst zo gepast mogelijk, maar wij zorgen voor wisselgeld).
    </p>
</div>
<div>
<p>Je bestelling is geplaatst. Klik op de onderstaande knop om de bevestiging te zien. Deze is ook naar je toe gemaild.</p>
</div>
    <div>
        <a class="btn btn-success" href="{% url 'order_summary' object.pk %}" role="button">
        <span class="glyphicon glyphicon-envelope"></span> Naar overzicht</a>
    </div>
{% endblock %}

