{% extends 'base.html' %}
{% block content %}

{{ object }}<br/>
{% for order_product in object.orderproduct_set.all %}
    {{ order_product.product.name }} - {{ order_product.product.retail_price }} x {{ order_product.amount }} : {{ order_product.total_price }}<br/>
{% endfor %}
Transactie: {{ object.order_round.transaction_costs }} <br/>


<br/>
{% if object.member_fee %}
    Contributie:
    {{ object.member_fee }}
{% endif %}

<br/>
    {% if user.balance.credit > 0 %}
        Credit: {{ user.balance.credit }}
    {% endif %}


<br/>
Totaalbedrag: {{ object.total_price }} Euro

<br/>

<form action="" method="post">{% csrf_token %}
    <input type="submit" value="Betalen" />
</form>
{% endblock %}

