{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<h1>Bestelling afronden</h1>
{% if object.order_round.is_open %}
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-body">
      <p>Klik onderaan op de knop om je bestelling af te ronden en te betalen.</p>
      <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      <strong>Let op!</strong> Je moet je bestelling nog bevestigen. Klik op de knop onderaan om dit te doen.
          <strong>Je bestelling is pas bevestigd als je een bevestigingsmail hebt gekregen!</strong>
    </div>
  </div>
  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Aantal</th>
        <th>Stukprijs</th>
        <th>Subtotaal</th>
      </tr>
    </thead>
    <tbody>
      {% for order_product in object.orderproducts.all %}
      <tr>
        <td>{{ order_product.product.name }}</td>
        <td>{{ order_product.amount }}</td>
        <td>&euro; {{ order_product.product.retail_price }}</td>
        <td>&euro; {{ order_product.total_price }}</td>
      </tr>
      {% endfor %}
      <tr>
        <td>Transactiekosten</td>
        <td>-</td>
        <td>-</td>
        <td>&euro; {{ object.order_round.transaction_costs }}</td>
      </tr>
    {% if object.member_fee %}
      <tr>
        <td>Ledenbijdrage bij eerste bestelling</td>
        <td>-</td>
        <td>-</td>
        <td>&euro; {{ object.member_fee }}</td>
     </tr>
    {% endif %}
    {% if user.balance.credit > 0 %}
      <tr>
        <td>Credit</td>
        <td>-</td>
        <td>-</td>
        <td>&euro; {{ user.balance.credit }}</td>
     </tr>
    {% endif %}
    {% if user.balance.debit > 0 %}
      <tr>
        <td>Debet</td>
        <td>-</td>
        <td>-</td>
        <td>&euro; {{ user.balance.debit }}</td>
     </tr>
    {% endif %}

      <tr class="panel-footer">
       <td><strong>Te betalen</strong></td>
       <td></td>
       <td></td>
       <td><strong>&euro; {{ object.total_price_to_pay_with_balances_taken_into_account }}</strong></td>
        </tr>
    </tbody>
  </table>
</div>

<form action="" method="post">{% csrf_token %}
    <button type="submit" class="btn btn-danger">
      {% bootstrap_icon "euro" %} Bestelling bevestigen en betalen
    </button>
</form>
{% else %}
<div class="alert alert-danger" role="alert">
    <strong>Helaas!</strong> De bestelronde is gesloten. Kom binnenkort terug!
</div>
{% endif %}
{% endblock %}

