{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}

<form action="" method="post">{% csrf_token %}
    {{ formset.management_form }}

    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Je bestelling</div>
      <div class="panel-body">
        <p>Dit is je bestelling zoals 'ie er nu uitziet.</p>
        {% if object.member_fee > 0 %}
        <div class="alert alert-warning" role="alert">
            <strong>Let op!</strong> Omdat dit je eerste bestelling is, is de ledenbijdrage van &euro; {{ object.member_fee }} automatisch
        aan je bestelling toegevoegd.
        </div>
        {% endif %}
        {% if object.finalized %}
            <div class="alert alert-danger" role="alert">
            <strong>Let op!</strong> Deze bestelling is al afgerond en kan niet meer worden gewijzigd.
        </div>
        {% endif %}
      </div>
      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>Product</th>
            <th>Aantal</th>
            <th>Stukprijs</th>
            <th>Totaal</th>
            <th><span class="glyphicon glyphicon-trash"></span></th>
          </tr>
        </thead>
        <tbody>
          {% for form in formset %}
          <tr>
            <td><a href="{% url 'view_product' form.instance.product.pk %}">{{ form.instance.product }}</a></td>
            <td>{{ form.amount }}</td>
            <td>&euro; {{ form.instance.product.retail_price }}</td>
            <td>&euro; {{ form.instance.total_price }}</td>
            <td>{{ form.DELETE }}{{ form.id }}{{ form.order }}{{ form.product }}</td>
          </tr>
          {% endfor %}
          <tr>
            <td>Transactiekosten</td>
            <td>-</td>
            <td>-</td>
            <td>&euro; {{ object.order_round.transaction_costs }}</td>
            <td>-</td>
          </tr>
        {% if object.member_fee > 0 %}
          <tr>
            <td>Ledenbijdrage bij eerste bestelling</td>
            <td>-</td>
            <td>-</td>
            <td>&euro; {{ object.member_fee }}</td>
            <td>-</td>
         </tr>
        {% endif %}
          <tr class="panel-footer">
           <td><strong>Subtotaal</strong></td>
           <td></td>
           <td></td>
           <td><strong>&euro; {{ object.total_price }}</strong></td>
           <td></td>
            </tr>
        </tbody>
      </table>
        </div>

    {% buttons %}
    <button type="submit" class="btn btn-primary {% if object.finalized %}disabled{% endif %}">
      {% bootstrap_icon "pencil" %} Bestelling bijwerken
    </button>
    <a class="btn btn-success {% if object.finalized %}disabled{% endif %}" href="{% url 'finish_order' object.pk %}" role="button">
        <span class="glyphicon glyphicon-ok"></span> Bestelling afronden</a>
    {% endbuttons %}


</form>


{% endblock %}

