{% extends 'base.html' %}
{% block title %}Bestelling plaatsen{% endblock %}
{% block content %}
<h1>Bestelling plaatsen</h1>
{% if object.order_round.is_open %}
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <!-- <div class="panel-heading">Je huidige bestelling</div> -->
  <div class="panel-body">
      {% if not order.has_products %}
          <strong>Je hebt nog geen producten in je bestelling!</strong>
      {% else %}
      <p>
      <strong>Hieronder zie je de producten in je "winkelmandje".</strong><br/>
      Door op de groene knop onderaan deze pagina te klikken wordt je bestelling <strong>geplaatst</strong> en
      ga je naar de betalingspagina.</p>
      <p>
          Als je een product niet hebt kunnen bestellen (zie eventuele melding bovenaan deze pagina) of als je
          nog iets wilt wijzigen aan onderstaande bestelling,
          <a href="{% url 'view_products' %}">klik dan hier om terug te gaan naar het productoverzicht</a>.
      </p>
      {% endif %}
  </div>
  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Aantal</th>
        <th>Stukprijs</th>
        <th>Subtotaal</th>
      </tr>
    </thead>
    <tbody>
      {% for order_product in object.orderproducts.all %}
      <tr>
        <td>{{ order_product.product.unit_of_measurement }} <strong>{{ order_product.product.name }}</strong> van {{ order_product.product.supplier.name }}</td>
        <td>{{ order_product.amount }}</td>
        <td>&euro; {{ order_product.product.retail_price }}</td>
        <td>&euro; {{ order_product.total_retail_price }}</td>
      </tr>
      {% endfor %}
      <tr>
        <td>Transactiekosten</td>
        <td>-</td>
        <td>-</td>
        <td>&euro; {{ object.order_round.transaction_costs }}</td>
      </tr>
    {% if object.member_fee %}
      <tr>
        <td>Ledenbijdrage bij eerste bestelling</td>
        <td>-</td>
        <td>-</td>
        <td>&euro; {{ object.member_fee }}</td>
     </tr>
    {% endif %}
    {% if user.balance.credit > 0 %}
      <tr>
        <td>Credit</td>
        <td>-</td>
        <td>-</td>
        <td>&euro; {{ user.balance.credit }}</td>
     </tr>
    {% endif %}
    {% if user.balance.debit > 0 %}
      <tr>
        <td>Debet</td>
        <td>-</td>
        <td>-</td>
        <td>&euro; {{ user.balance.debit }}</td>
     </tr>
    {% endif %}

      <tr class="panel-footer">
       <td><strong>Te betalen</strong></td>
       <td></td>
       <td></td>
       <td><strong>&euro; {{ object.total_price_to_pay_with_balances_taken_into_account }}</strong></td>
        </tr>
    </tbody>
  </table>
</div>

<form action="{% url 'finance.createtransaction' %}" method="post">{% csrf_token %}

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <!-- <div class="panel-heading">Feedback</div> -->
                    <div class="panel-body">
                    <p>We willen graag van je horen wat je van de producten en de bestelprocedure van vorige bestelronde vond.
                        (je mag dit vak ook leeglaten).</p>
                    <textarea class="form-control" rows="2" name="notes" placeholder="Opmerkingen?"></textarea>
                </div>
            </div>
        </div>
        {% if object.order_round.get_pickup_location %}
            <div class="col-md-6">
                <div class="panel panel-danger">
                    <!-- <div class="panel-heading">Ophaallocatie</div> -->
                        <div class="panel-body">
                          <h4>Ophaallocatie voor deze bestelling is:</h4>
                          <h2>{{ object.order_round.get_pickup_location }}</h2>
                          {{ object.order_round.get_pickup_location.description }}<br/>
                          {{ object.order_round.get_pickup_location.address.street_and_number }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="mt-4 d-flex justify-content-between">
      <a class="btn btn-warning" href="{% url 'view_products' %}" role="button"><span class="bi-arrow-left-square"></span> Bestelling wijzigen</a>

      <button type="submit" class="btn btn-primary pull-right" {% if not order.has_products %}disabled{% endif %}>
        Bestelling plaatsen en betalen
      </button>
    </div>
</form>
{% else %}
<div class="alert alert-danger" role="alert">
    <strong>Helaas!</strong> De bestelronde is gesloten. Kom binnenkort terug!
</div>
{% endif %}
{% endblock %}

