{% extends 'base.html' %}
{% block title %}Producten{% endblock %}
{% block content %}

<h1 class="page-header">Producten in bestelronde {{ current_order_round.id }}             {% if current_order_round.get_pickup_location %}
    - {{ current_order_round.get_pickup_location }}
  {% endif %}</h1>
<p class="lead">
  Deze ronde zijn er {{ view.product_count }} producten van {{ view.suppliers|length }} leveranciers.
</p>

{% if current_order_round.is_open or user.is_staff %}

  {% if user.is_staff and not current_order_round.is_open %}
    <div class="alert alert-warning" role="alert">
      <strong>Let op!</strong> Je kunt de producten zien omdat je "staff user" bent. <strong>De bestelronde is niet open!</strong>
    </div>
  {% endif %}

  <form method="post" id="order-form">
    {% csrf_token %}

    <div class="panel panel-default">
      <!-- Heading -->
      <div class="panel-heading clearfix">
        <div class="d-flex justify-content-between">
          <div>
            <button type="submit" class="btn btn-success btn-save-order">
              <span class="bi-bag-check"></span> Bestelling bevestigen
            </button>
          </div>
          {% if current_order_round.get_pickup_location %}
          <div>
            <h5>Ophaallocatie: <strong>{{ current_order_round.get_pickup_location }}</strong></h5>
          </div>
          {% endif %}
        </div>
        <div class="dropdown pull-right d-sm-none">
          <button class="btn btn-default dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categorie
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#" class="dropdown-item category-option" data-category="all">Alle producten</a></li>
            {% for category in view.categories %}
                <li><a href="#" class="dropdown-item category-option" data-category="{{ category.id }}">{{ category.name }}</a></li>
            {% endfor %}
            <li><a href="#" class="dropdown-item category-option" data-category="no-category">Overig</a></li>
          </ul>
        </div>
      </div>

      <!-- Categories -->
      <div role="tabpanel" class="my-4 d-none d-sm-block">
        <ul id="categories-tabs" class="nav nav-tabs categories" role="tablist">
          <li role="presentation" class="nav-item"><a href="#" class="nav-link category-option" aria-current="page" data-category="all" role="tab" data-toggle="tab">Alle producten</a></li>
          {% for category in view.categories %}
            <li role="presentation" class="nav-item"><a href="#" role="tab" class="nav-link category-option" data-category="{{ category.id }}" data-toggle="tab">{{ category.name }}</a></li>
          {% endfor %}
          <li role="presentation" class="nav-item"><a href="#" class="nav-link category-option" role="tab" data-category="no-category" data-toggle="tab">Overig</a></li>
        </ul>
      </div>

      <!-- product list -->
      <div class="product-list container-fluid">
        {% for product in view.products %}
          <div class="product {% if product.category %}category-{{ product.category.id }}{% else %}no-category{% endif %} row">
            <div class="info col-sm-7">
              <div class="row">
                <div class="info col-md-6">
                  <h4 class="product-name">
                    <a href="{% url 'view_product' product.pk %}">
                      {{ product.name|title }}
                    </a>
                    {% if product.new %} <span class="label label-primary">Nieuw!</span>{% endif %}
                  </h4>
                  <p>
                    Van: <a class="supplier-{{ product.supplier.pk }}" href="{% url 'view_supplier' product.supplier.pk %}">{{ product.supplier }}</a>
                    </p>
                </div>
                <div class="info col-md-6">
                  <p>{{ product.description|urlize }}</p>
                </div>
              </div>
            </div>
            <div class="order col-sm-5 pl-0 pr-0">
              <div class="container-fluid">
                <div class="d-flex justify-content-between">
                  <div class="order col-xs-8 flex-fill">
                    &euro; {{ product.retail_price }} per {{ product.unit_of_measurement|lower }}
                  </div>
                  <div class="order col-xs-4">
                    {% if not product.is_available %}
                      Uitverkocht
                    {% else %}
                      <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="{{ product.percentage_available }}"
                                aria-valuemin="0" aria-valuemax="100" style="width: {{ product.percentage_available }}%;">
                              {{ product.verbose_availability }}
                          </div>
                      </div>
                    {% endif %}
                  </div>
                </div>
                <input type="number" step="1" min="0" class="form-control text-end" name="order-product-{{ product.id }}" size="2" placeholder="" value="{% if product.is_available %}{{ product.ordered_amount }}{% endif %}" {% if not product.is_available %}disabled{% endif %}>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <!-- Footer -->
      <div class="d-flex justify-content-between">
        <div>
          <button type="submit" class="btn btn-success btn-save-order">
            <span class="bi-bag-check"></span> Bestelling bevestigen
          </button>
        </div>
        {% if current_order_round.get_pickup_location %}
        <div>
          <h5>Ophaallocatie: <strong>{{ current_order_round.get_pickup_location }}</strong></h5>
        </div>
        {% endif %}
      </div>
    </div>
  </form>
{% else %}
  <div class="alert alert-danger" role="alert">
    <strong>Helaas!</strong> De bestelronde is gesloten. Kom binnenkort terug!
  </div>
{% endif %}
{% endblock %}
{% block javascript %}
<script language="javascript">
  $(".category-option").click(function(event) {
    var category = event.target.dataset.category;
    if (category != "all") $(".product").fadeOut();
    $(".product").removeClass("last");
    var targets;
    switch (category) {
      case "all":
        targets = $(".product");
        break;
      case "no-category":
        targets = $(".product.no-category");
        break;
      default:
        targets = $(".product.category-"+ category);
        break;
    }
    targets.fadeIn();
    targets.last().addClass("last");
  });

</script>

<script>
// Popovers
{% for supplier in view.suppliers %}
    $(".supplier-{{ supplier.pk }}").popover({
        trigger: "hover",
        title: "{{ supplier.name|escapejs }}",
        content: "{{ supplier.biography|truncatechars:400|escapejs }}"
    });
{% endfor %}
</script>

{% endblock %}
