{% extends 'base.html' %}
{% block title %}Producten{% endblock %}
{% block content %}
<h1>Producten</h1>
{% if current_order_round.is_open or user.is_staff %}

    {% if user.is_staff and not current_order_round.is_open %}
    <div class="alert alert-warning" role="alert">
        <strong>Let op!</strong> Je kunt de producten zien omdat je "staff user" bent. <strong>De bestelronde is niet open!</strong>
    </div>
    {% endif %}

<form method="post" id="order-form">
  {% csrf_token %}

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <button type="submit" class="btn btn-success btn-save-order"><span class="glyphicon glyphicon-ok-sign"></span> Bestelling bevestigen</button>
  </div>
  <div class="panel-body">
      <strong>Onderstaande producten zijn leverbaar in bestelronde {{ current_order_round.id }}.</strong><br/>
  </div>

    <!-- Categories -->
    <div role="tabpanel" data-example-id="togglable-tabs">
        <ul id="myTab" class="nav nav-tabs nav-justified" role="tablist">
          <li role="presentation" class="active"><a href="#" id="all-products" role="tab" data-toggle="tab">Alle producten</a></li>
            {% for category in view.categories %}
              <li role="presentation"><a href="#" role="tab" id="category-{{ category.name }}" data-toggle="tab">{{ category.name }}</a></li>
            {% endfor %}
         </ul>
    </div>

  <!-- Table -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Product</th>
        <th>Leverancier</th>
        <th>Omschrijving</th>
        <th>Prijs</th>
        <th>Beschikbaarheid</th>
        <th>Bestellen</th>
      </tr>
    </thead>
    <tbody>
      {% for product in view.products %}
      <tr class="product{% if product.category %} category-{{ product.category }}{% endif %}">
        <td class="col-md-1"><a href="{% url 'view_product' product.pk %}">{{ product.name|title }}</a></td>
        <td class="col-md-2"><a href="{% url 'view_supplier' product.supplier.pk %}">{{ product.supplier }}</a></td>
        <td class="col-md-5">{{ product.description }}</td>
        <td class="col-md-2">&euro; {{ product.retail_price }} per {{ product.unit_of_measurement|lower }}</td>
        <td class="col-md-1">
            {% if not product.is_available %}Uitverkocht{% else %}
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ product.percentage_available_of_max }}"
                     aria-valuemin="0" aria-valuemax="100" style="width: {{ product.percentage_available_of_max }}%;">
                    {% if product.maximum_total_order %}
                        {{ product.amount_available }} van {{ product.maximum_total_order }}
                    {% else %}
                        onbeperkt
                    {% endif %}
                {% endif %}
                </div>
            </div>
        </td>
        <td class="col-md-2">
            <input type="number" step="1" class="form-control" name="order-product-{{ product.id }}" size="2" placeholder="" value="{% if product.is_available %}{{ product.ordered_amount }}{% endif %}" {% if not product.is_available %}disabled{% endif %}>
        </td>
      {% endfor %}
    </tbody>
  </table>

<div class="panel-footer">
  <button type="submit" class="btn btn-success btn-save-order"><span class="glyphicon glyphicon-ok-sign"></span> Bestelling bevestigen</button>
</div>

</div>
</form>
{% else %}
<div class="alert alert-danger" role="alert">
    <strong>Helaas!</strong> De bestelronde is gesloten. Kom binnenkort terug!
</div>
{% endif %}
{% endblock %}
{% block javascript %}
<script language="javascript">
    $(".btn-finish-order").click(function(event) {
        event.preventDefault();k
        console.log("aaa");
        $("#order-form").ajaxSubmit({type: 'post'});
        console.log("bbb");
        console.log($(".btn-finish-order").href);
    });
</script>
{% endblock %}