{% extends 'base.html' %}
{% block content %}
<h1>Producten</h1>
{% if current_order_round.is_open %}
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Producten voor deze bestelronde</div>
  <div class="panel-body">
    <p>Dit zijn de producten die deze ronde te bestellen zijn.<br/>
    Klik op een product voor meer informatie en om te bestellen.</p>
  </div>

  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Leverancier</th>
        <th>Omschrijving</th>
        <th>Prijs</th>
      </tr>
    </thead>
    <tbody>
      {% for product in object_list %}
      <tr>
        <td><a href="{% url 'view_product' product.pk %}">{{ product.name }}</a></td>
        <td>{{ product.supplier }}</td>
        <td>{{ product.description }}</td>
        <td>&euro; {{ product.retail_price }} per {{ product.unit_of_measurement }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="alert alert-danger" role="alert">
    <strong>Helaas!</strong> De bestelronde is gesloten. Kom binnenkort terug!
</div>
{% endif %}
{% endblock %}