{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}{{ object.name}} van {{ object.supplier }}{% endblock %}
{% block content %}
<h1>{{ object.name }} van <a href="{% url 'view_supplier' object.supplier.pk %}">{{ object.supplier }}</a></h1>
<div class="panel panel-default">
  <table class="table">
    <tbody>
      <tr>
        <td><strong>Product</strong></td>
        <td>{{ object.name }}</td>
      </tr>
      <tr>
        <td><strong>Omschrijving</strong></td>
        <td>{{ object.description }}</td>
      </tr>
      <tr>
        <td><strong>Categorie</strong></td>
        <td>{% if object.category %}{{ object.category }}{% else %}Geen{% endif %}</td>
      </tr>
      <tr>
        <td><strong>Besteleenheid</strong></td>
        <td>{{ object.unit_of_measurement }}</td>
      </tr>
      <tr>
        <td><strong>Maximaal beschikbaar</strong></td>
        <td>{% if object.maximum_total_order %}{{ object.maximum_total_order }}{% else %}Onbeperkt{% endif %}</td>
      </tr>
      <tr>
        <td><strong>Nog te bestellen</strong></td>
        <td>{% if object.maximum_total_order %}{{ object.amount_available }} ({{ object.percentage_available_of_max }}%){% else %}Onbeperkt{% endif %}</td>
      </tr>
      <tr>
        <td><strong>Inkoopprijs per eenheid</strong></td>
        <td>&euro; {{ object.base_price }}</td>
      </tr>
      <tr>
        <td><strong>Verkoopprijs per eenheid</strong></td>
        <td>&euro; {{ object.retail_price }} ({{ object.order_round.markup_percentage }}% marge)</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Bestellen?</h3>
  </div>
  <div class="panel-body">
    {% if object.is_available %}
    <form action="" method="post">{% csrf_token %}
            {% bootstrap_form view.form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "shopping-cart" %} Bestelling bijwerken
            </button>
            {% endbuttons %}
    </form>
    {% else %}
        Helaas! Dit product is uitverkocht.
    {% endif %}

  </div>
</div>
{% endblock %}
