{% extends 'base.html' %}
{% block title %}Producten{% endblock %}
{% block content %}

<h1 class="page-header">Producten in bestelronde {{ current_order_round.id }}</h1>
<p class="lead">
  Deze ronde zijn er {{ view.product_count }} producten van {{ view.suppliers|length }} leveranciers.
</p>
{% if current_order_round.is_open or user.is_staff %}

  {% if user.is_staff and not current_order_round.is_open %}
    <div class="alert alert-warning" role="alert">
      <strong>Let op!</strong> Je kunt de producten zien omdat je "staff user" bent. <strong>De bestelronde is niet open!</strong>
    </div>
  {% endif %}

  <form method="post" id="order-form">
    {% csrf_token %}

    <div class="panel panel-default">
      <!-- Heading -->
      <div class="panel-heading clearfix">
        <button type="submit" class="btn btn-success btn-save-order">
          <span class="glyphicon glyphicon-ok-sign"></span> Bestelling bevestigen
        </button>
        <div class="dropdown pull-right visible-xs-block">
          <button class="btn btn-default dropdown-toggle" type="button" id="category-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Categorie
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="category-dropdown">
            <li><a href="#" id="all-products">Alle producten</a></li>
            {% for category in view.categories %}
                <li><a href="#" id="category-{{ category.id }}">{{ category.name }}</a></li>
            {% endfor %}
            <li><a href="#" id="no-category">Overig</a></li>
          </ul>
        </div>
      </div>

      <!-- Categories -->
      <div role="tabpanel" class="hidden-xs">
        <ul id="myTab" class="nav nav-tabs categories" role="tablist">
          <li role="presentation" class="active"><a href="#" id="all-products-tab" role="tab" data-toggle="tab">Alle producten</a></li>
          {% for category in view.categories %}
            <li role="presentation"><a href="#" role="tab" id="category-{{ category.id }}-tab" data-toggle="tab">{{ category.name }}</a></li>
          {% endfor %}
          <li role="presentation"><a href="#" id="no-category-tab" role="tab" data-toggle="tab">Overig</a></li>
        </ul>
      </div>

      <!-- product list -->
      <div class="product-list container-fluid">
        {% for product in view.products %}
          <div class="product {% if product.category %}category-{{ product.category.id }}{% else %}no-category{% endif %} row">
            <div class="info col-sm-7">
              <div class="row">
                <div class="info col-md-6">
                  <h4 class="product-name">
                    <a href="{% url 'view_product' product.pk %}">
                      {{ product.name|title }}
                    </a>
                    {% if product.new %} <span class="label label-primary">Nieuw!</span>{% endif %}
                  </h4>
                  <p>
                    Van: <a class="supplier-{{ product.supplier.pk }}" href="{% url 'view_supplier' product.supplier.pk %}">{{ product.supplier }}</a>
                    </p>
                </div>
                <div class="info col-md-6">
                  <p>{{ product.description|urlize }}</p>
                </div>
              </div>
            </div>
            <div class="order col-sm-5 pl-0">
              <div class="container-fluid">
                <div class="row">
                  <div class="order col-xs-8">
                    &euro; {{ product.retail_price }} per {{ product.unit_of_measurement|lower }}
                  </div>
                  <div class="order col-xs-4 pl-0">
                    {% if not product.is_available %}
                      Uitverkocht
                    {% else %}
                      <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="{{ product.percentage_available }}"
                                aria-valuemin="0" aria-valuemax="100" style="width: {{ product.percentage_available }}%;">
                              {{ product.verbose_availability }}
                          </div>
                      </div>
                    {% endif %}
                  </div>
                </div>
                <input type="number" step="1" min="0" class="form-control" name="order-product-{{ product.id }}" size="2" placeholder="" value="{% if product.is_available %}{{ product.ordered_amount }}{% endif %}" {% if not product.is_available %}disabled{% endif %}>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <!-- Footer -->
      <div class="panel-footer">
        <button type="submit" class="btn btn-success btn-save-order"><span class="glyphicon glyphicon-ok-sign"></span> Bestelling bevestigen</button>
      </div>
    </div>
  </form>
{% else %}
  <div class="alert alert-danger" role="alert">
    <strong>Helaas!</strong> De bestelronde is gesloten. Kom binnenkort terug!
  </div>
{% endif %}
{% endblock %}
{% block javascript %}
<script language="javascript">
  {# categories filtering #}
  $("#all-products, #all-products-tab").click(function(event) {
    $(".product").fadeIn();
  });

  $("#no-category, #no-category-tab").click(function(event) {
    $(".product").fadeOut();
    $(".product.no-category").fadeIn();
  });

  {% for category in view.categories %}
    $("#category-{{ category.id }}, #category-{{ category.id }}-tab").click(function(event) {
      show_products_of_category("{{ category.id }}");
    });
  {% endfor %}

  function show_products_of_category(category) {
    $(".product").fadeOut();
    $(".product.category-"+ category).fadeIn();
  }
</script>

<script>
// Popovers
{% for supplier in view.suppliers %}
    $(".supplier-{{ supplier.pk }}").popover({
        trigger: "hover",
        title: "{{ supplier.name|escapejs }}",
        content: "{{ supplier.biography|truncatechars:400|escapejs }}"
    });
{% endfor %}
</script>

{% endblock %}
