---
name: CI
on:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: read
jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"
          enable-cache: false

      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"
        
      - name: Run tests
        working-directory: webapp
        run: uv run pytest webapp/ --ds=vokou.settings.testing
    
  lint:
    name: Run linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"

      - name: flake8 Lint
        uses: py-actions/flake8@v2.3.0
