---
name: Deployment
on:
  push:
    branches:
      - feature/*
      - develop
      - release/*
      - master

jobs:
  tests:
    name: Run tests
    runs-on: ubuntu-latest
    - name: Checkout
      uses: actions/checkout@v3
    - name: Setup Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.6'
    - name: Install pipenv
      run: python -m pip install --upgrade pipenv wheel
    - name: Install dependencies
      run: pipenv install --system --dev
    - name: Run tests
      working-directory: webapp
      run: |
        runtests.sh
        flake8 --exclude migrations,settings
