{% extends 'base.html' %}
{% block title %}{{ year }} - inkomsten per ronde{% endblock %}
{% block content %}
    <h1>{{ year }} - inkomsten per ronde</h1>
    {% regroup suppliers_data by round as rounds %}
    {% for round in rounds %}
        <div class="panel panel-default">
            <div class="panel-heading">{{ round.grouper }}</div>
                <table class="table table-bordered table-condensed">
                    <thead>
                        <td><strong>Leverancier</strong></td>
                        <td><strong>Besteld bedrag</strong></td>
                        <td><strong>Correctie(s) boeren</strong></td>
                        <td><strong>Correctie(s) VOKO</strong></td>
                        <td><strong>Te betalen volgens systeem</strong></td>
                    </thead>
                    <tbody>
                        {% for row in round.list %}
                            <tr>
                                <td>{{ row.supplier }}</td>
                                <td>{{ row.total_amount }}</td>
                                <td>{{ row.supplier_corrections_exc }} {# {{ row.supplier_corrections_inc }}  #} </td>
                                <td>{{ row.voko_corrections_inc }}</td>
                                <td>{{ row.to_pay }}</td>
                            </tr
                        {% endfor %}
                        <tr>
                            <td><strong>Totaal</strong></td>
                            <td>{{ round.grouper.total_order_amount }}</td>
                            <td>{{ round.grouper.total_corrections.supplier_exc }} / {{ round.grouper.total_corrections.supplier_inc }} </td>
                            <td>{{ round.grouper.total_corrections.voko_inc }} </td>
                            <td>{{ round.grouper.to_pay }}</td>
                        </tr>
                    </tbody>
                </table>
        <div class="panel-footer"><strong>Marge: </strong> {{ round.grouper.total_profit }}</div>
        </div>
    {% endfor %}
{% endblock %}




